html, body {

  
  margin: 0;
  padding: 0;
  
  }

  head, body{
    font-family: 'Montserrat', sans-serif;
    
  }

.header{
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 140px;
  
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header ul {
  font-size:14px;
 padding-top: 25px;
  text-align: right;
  margin-bottom: 30px;
  list-style: none;
      display: flex;
    justify-content: flex-end;
    
}
     
  

 .header li {
  
  display:inline;
  text-transform:uppercase;
  color:white;
  

}

.header a {
  color: white;
  text-decoration: none;
  margin: 5px 20px;
}

.header h1{
      padding-right: 10px;
   
     }
 .row h1{
    font-size: 28px;
    

  }

.active{
     border-bottom: 1px solid grey;
     
     padding-bottom:1px;
}
.header li a:hover {
text-decoration: underline;
color: #ccff99;
}

.jumbotron{
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: all;
    height:600px;
    margin-bottom:-30px;
  }

  .footer{
      background-color: black;
      margin-top: 30px;
      padding-top: 10px;
      color:white;
      
    }

    .footer a{
      color: white;
    }

    .footer a:hover{
     text-decoration: underline;
     color: blue;
    }

  .jumbotron h2{
    font-size: 34px;
    color: black;
    text-align: center;
  }
  .jumbotron p{
    font-size: 20px;
    color: black;
    text-align: center;
  }

  .jumbotron audio{
    margin-left: 410px;
  }