html, body {

 
  margin: 0;
  padding: 0;
   
  
  }

  head, body{
    font-family: 'Montserrat', sans-serif;
    
  }

.header{
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 140px;
  
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header ul {
  font-size:14px;
 padding-top: 25px;
  text-align: right;
  margin-bottom: 30px;
  list-style: none;
      display: flex;
    justify-content: flex-end;
    
}
     
  

 .header li {
  
  display:inline;
  text-transform:uppercase;
  color:white;
  

}

.header a {
  color: white;
  text-decoration: none;
  margin: 5px 20px;
}

.header h1{
      padding-right: 10px;
   
     }
 .row h1{
    font-size: 28px;
    

  }

.active{
     border-bottom: 1px solid grey;
     
     padding-bottom:1px;
}
.header li a:hover {
text-decoration: underline;
color: #ccff99;
}

.jumbotron{
    
    height: 600px;
 background-image: url(../img/contact2.jpg);
    background-size: cover;
    background-position: center;
     margin-bottom:-20px;
  }

  
  .jumbotron .col-md-8 h1{
    text-align: center;
    margin-left: 310px;

  }
  .jumbotron .col-md-4{
    text-align: center;
  }
    

  .jumbotron h1{
    font-size: 35px;
  }

   .jumbotron h1,p{
    color: white;
   }

    .footer{
      background-color: black;
      margin-top : 20px;
      padding: 10px;
      color:white;
      
    }

    .footer a{
      color: white;
    }

    .footer a:hover{
     text-decoration: underline;
     color: blue;
    }










  .Contact input {      
    background: #fff;     
     border: #47494c;     
      border:none;    
       border-bottom: 1px solid white;    
         -webkit-box-sizing: border-box;   
           -moz-box-sizing: border-box;     
            box-sizing: border-box;    
             width: 200px;     
             margin:10px;  
           } 
  .Contact textarea::placeholder {    
    color: black; 
  } 
  .Contact input::placeholder {  
   color: black; 
 } 
  
  .Contact textarea{     
   background:#fff;  
   border: 0.1px solid #fff;   
    height: 200px;    
      width: 450px;     
      display: flex;     
       margin-top:10px;
       margin-left: 320px;
       } 

       .Contact button {   
         width: 170px;     
         margin:10px;     
          margin-right: 130px;  
            }  
 
  .Contact #form {   
   padding-top: 40px;  }


form{
  text-align: right;
}

.icon{
   padding-left: 750px;
}