html, body {

  
  margin: 0;
  padding: 0;
  
  }

  head, body{
    font-family: 'Montserrat', sans-serif;
    background-color: grey;
  }

.header{
  background-color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 0px;
  
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}


.header ul {
  font-size:14px;
 padding-top: 25px;
  text-align: right;
  margin-bottom: 30px;
  list-style: none;
      display: flex;
    justify-content: flex-end;
    
}
     
  

 .header li {
  
  display:inline;
  text-transform:uppercase;
  color:white;
  

}

.header a {
  color: white;
  text-decoration: none;
  margin: 5px 20px;
}

.header h1{
      padding-right: 10px;
   
     }
 .row h1{
    font-size: 28px;
    

  }

.active{
     border-bottom: 1px solid grey;
     
     padding-bottom:1px;
}
.header li a:hover {
text-decoration: underline;
color: #ccff99;
}

.jumbotron{
    background-color: grey;
    height: 600px;
    padding-top: 10px;
  }

.jumbotron h1{
  font-size: 32px;
  color:black;
  text-align: center;
  margin-bottom: 30px;
}

  .jumbotron .row{
  margin-top: 10px;
}



img{
  margin-bottom: 25px;
  
}

    

    .jumbotron p{
      text-align: center;
      color: #e60000;

    }

    .main p{
      color: black;
      padding-top:40px;
      left: 20px;
    }

     .main .col-md-8{
      padding-left:100px;
    }

    


     .footer{
      background-color: black;
      margin-top: 30px;
      padding-top: 0px;
      
      
    }

    .footer a{
      color: white;
    }

    .footer a:hover{
     text-decoration: underline;
     color: blue;
    }

    

    .footer .col-md-8{
      padding-right:500px;
    }

.footer p{
      color:white;
      font-size: 14px;
    }
